<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TwoKingsNuget" value="https://pkgs.dev.azure.com/TwoKingsSoftware/TwoKings/_packaging/TwoKingsNuget/nuget/v3/index.json" />
  </packageSources> 
  <activePackageSource>
	<add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <TwoKingsNuget>
	  <add key="Username" value="wbbufiszfrzi3ahua2b4nbdxwb3yw4hxy53k5n3ljoe5d2nxp7dq" />      
	  <add key="ClearTextPassword" value="wbbufiszfrzi3ahua2b4nbdxwb3yw4hxy53k5n3ljoe5d2nxp7dq" />
	</TwoKingsNuget>
  </packageSourceCredentials>
</configuration>